<h1>Javascript Home Page</h1>

<div>
    <button onclick="signIn();">SignIn</button>
    <button onclick="signOut();">SignOut</button>
</div>
<hr />
<div>
    <button onclick="callApiOne();">Call Api One</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.10.0/oidc-client.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<script src="~/main.js"></script>